/* Tout en haut de index.css */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#0e0e0e] text-white overflow-x-hidden; /* Fond noir Shotgun */
  }
}

/* Animation pour le texte qui défile (Marquee) */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused; /* Ça s'arrête quand on survole */
}

/* Police "Display" bien grasse */
.font-display {
  font-family: 'Archivo Black', sans-serif; /* <--- AJOUTE CETTE LIGNE */
  font-weight: 900;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}

/* Masquer la barre de défilement */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}